/* Error: From line 3, column 1 of scss\base\_extends.scss: 
 *   ╷
 * 3 │ %centrar{
 *   │ ^^^^^^^^
 *   ╵
 * You may not @extend selectors across media queries.
 *    ,
 * 15 |     @extend %centrar;
 *    |     ^^^^^^^^^^^^^^^^
 *    '
 *   scss\components\_contactanos.scss 15:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: From line 3, column 1 of scss\\base\\_extends.scss: \a   \2577 \a 3 \2502  %centrar{\d\a   \2502  ^^^^^^^^\a   \2575 \aYou may not @extend selectors across media queries.\a    \2577 \a 15 \2502      @extend %centrar;\d\a    \2502      ^^^^^^^^^^^^^^^^\a    \2575 \a   scss\\components\\_contactanos.scss 15:5  root stylesheet";
}
