
@import "../base/variables";
@import "../base/mixins";

/*Nesting o anidamiento*/
footer{
    @include colores(#80CBC4);
    color: $color-font-general;
    font-size: $font-size-footer; 
    div{
        p{
            line-height: $interlineado-body;
        }
    }
     div{
         ul{ list-style-type: none;
             li{

             }
         }

    }
}

@media only screen and (max-width: 480px) {
    .imagen-logo {
        display: flex;
        justify-content: center;
    }
}