
@import "../base/variables";
@import "../base/mixins";


footer{
    @include colores(#80CBC4);
    color: $color-font-general;
    font-size: $font-size-footer;
    .bloque-contacto{
        display: flex;
        flex-direction: column;
    }
    div{
        p{
            line-height: $interlineado-body;
        }
    }
     div{
         ul{ list-style-type: none;
             li{

             }
         }

    }
}

@media only screen and (max-width: 480px) {
    .imagen-logo {
        display: flex;
        justify-content: center;
    }
}

.footer-contacto{
    position: fixed;
    bottom: 0px;
  }