
@import "../base/variables";

/*Nesting o anidamiento*/
footer{
    background-color: $bg-color-general;
    color: $color-font-general;
    font-size: $font-size-footer; 
    div{
        p{
            line-height: $interlineado-body;
        }
    }
     div{
         ul{ list-style-type: none;
             li{

             }
         }

    }
}


/*Importo*/
