@import "../base/variables";
@import "../base/maps";

/*Nesting o anidamiento*/
/*& pseudoclases o pseudoelementos*/
header {
  background-color: map-get($header, bg-header);
  color: map-get($header, color-header);
  line-height: $interlineado-body;
  .nav {
    .menu {
      .links {
        color: $color-font-general;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

/*Importo*/
