@import "../base/variables";

/*Nesting o anidamiento*/
/*& pseudoclases o pseudoelementos*/
header{ 
   background-color: $bg-color-general;
    color: $color-font-general;  
    line-height: $interlineado-body;
    nav{
        div{
            a{
                &:hover{
                    text-decoration: underline;

                }
            }
        }
    }
}

/*Importo*/