@import "../base/variables";
@import "../base/extends";

.hero{
    video{
        padding: 2%;
    }
    h1{
    @extend %absolute;
    }

    h2{
    @extend %absolute;
    }
}

.whats{
    position: absolute;
    top:300px;
    right: 30px;
}

.whats:hover{
    transform: scale(1.5);
    transition-duration: 2s;
}