@import "../base/variables";

.preguntas-frecuentes{
    background-color: $bg-color-general;
    h2{
        color: $color-font-general;
    }
    div{
        p{
            color: $color-font-general;
            line-height: $interlineado-body;
        }
    }
}

@media only screen and (max-width: 480px) {
    .preguntas-frecuentes{
        display: flex;
        justify-content: center;
    }
}