@import "../base/variables";

.productos{
    h2{
        color: $color-font-secundario;
    }
    div{
        ul{
            list-style-type: none;
            li{
                color: $color-font-secundario;
                line-height: $interlineado-body;
            }

        }
    }
}